---
title: GitLab DevOps Fundamentals
suppress_header: true
description: "GitLab DevOps Fundamentals"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_devops" }
    .row
      .col-md-12
        %h2 Course Syllabus
        %h3 Day 1: Manage, Plan, and Create
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00 - 10:00a
                  %td GitLab Overview
                  %td 
                    %ul
                      %li What is GitLab?
                      %li Concurrent DevOps
                      %li GitLab Recommended Process
                      %li GitLab WorkFlow Components
                %tr
                  %td 10:00a - 1:00p
                  %td Manage and Plan
                  %td 
                    %ul
                      %li Audit Management
                      %li Authentication and Authorization
                      %li <strong>Hands On Lab</strong>: Planning a Project
                      %li Project Management
                      %li GitLab Organization
                      %li Epics, Issues, Milestones, and Labels
                      %li Using a Kanban Board
                      %li GitLab's Service Desk
                      %li Utilizing a Wiki
                      %li <strong>Hands on Lab</strong>: Plan Stage Practice Lab 1
                      %li <strong>Hands on Lab</strong>: Plan Stage Practice Lab 2
                %tr
                  %td 1:00 - 4:30p
                  %td Create
                  %td 
                    %ul
                      %li Source Code Management
                      %li Advantages of SCM
                      %li What is Git?
                      %li Centralized vs. Distributed Version Control System
                      %li Installing Git
                      %li <strong>Hands on Lab</strong>: Installing a Git Repo
                      %li <strong>Hands on Lab</strong>: Branching and Committing
                      %li Git Commands Workflow
                      %li <strong>Demo</strong>: GitLab Create Stage
                      %li Web IDE, Snippets, and the Wiki
                      %li <strong>Hands On Lab</strong>: Create Stage Final Lab
      .col-md-12
        %h3 Day 2: Verify
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00a - 4:30p
                  %td Verify
                  %td 
                    %ul
                      %li Enhancing Quality
                      %li Added Benefits of with GitLab
                      %li Anatomy of a CI/CD Build
                      %li Planning the Work
                      %li GitLab CI/CD Basics- YAML File
                      %li Build Images
                      %li <strong>Demo</strong>: YML Example
                      %li Services and Variables
                      %li Final CI
                      %li Stages and Jobs
                      %li <strong>Hands on Lab</strong>: Setup CI/CD
                      %li <strong>Hands on Lab</strong>: YAML Files
                      %li Job Definitions
                      %li Job Environments
                      %li Before and After Scripts
                      %li Caching
                      %li Artifacts & On Success
                      %li <strong>Hands on Lab</strong>: Job Parts
                      %li GitLab Pages
                      %li GitLab Runners
                      %li Runner Architecture
                      %li Runner Examples
                      %li Tagged Runners
                      %li <strong>Hands on Lab</strong>: Verify Stage Practice Lab 1
                      %li <strong>Hands on Lab</strong>: Verify Stage Practice Lab 2
                      %li <strong>Hands on Lab</strong>: Verify Stage Practice Lab 3
                      %li <strong>Hands on Lab</strong>: Verify Stage Practice Lab 4
      .col-md-12
        %h3 Day 3: Package, Secure, and Release
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00a - 12:00p
                  %td Package and Secure
                  %td 
                    %ul
                      %li GitLab Package Registry
                      %li GitLab Container Registry
                      %li Dependency Proxy
                      %li <strong>Hands on Lab</strong>: Package Stage Practice Lab
                      %li <strong>Hands on Lab</strong>: Kubernetes Create Lab
                      %li <strong>Hands on Lab</strong>: Kubernetes Config Lab
                      %li Securing Your Code
                      %li How GitLab Security Scanning Works
                      %li Security Dashboard
                      %li What is SAST
                      %li <strong>Hands on Lab</strong>: SAST
                      %li <strong>Hands on Lab</strong>: Secret Detection
                      %li Dependency Scanning
                      %li <strong>Hands on Lab</strong>: Dependency Scan
                      %li License Compliance
                      %li <strong>Demo</strong>: License Compliance in GitLab
                      %li What is Container Scanning?
                      %li <strong>Demo</strong>: Container Scan
                      %li What is DAST?
                      %li <strong>Hands on Lab</strong>: Set up a DAST Scan
                      %li <strong>Review Quiz</strong> for Stages Completed 
                %tr
                  %td 12:00 - 4:30p
                  %td Release
                  %td 
                    %ul
                      %li Continuous Delivery (CD)
                      %li CD Workflow
                      %li GitLab Pages
                      %li Incremental Rollout
                      %li Release Governance
                      %li Release Orchestration
                      %li Review Apps
                      %li Hands On Labs: Release Lab Tanuki Tech
                      %li Feature Flags
                      %li Secrets Management
      .col-md-12
        %h3 Day 4: Configure, Monitor, and Protect
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00a - 12:00p
                  %td Configure and Monitor
                  %td 
                    %ul 
                      %li Auto DevOps
                      %li Hands on Labs: Auto DevOps
                      %li ChatOps
                      %li Serverless
                      %li Chaos Engineering
                      %li Kubernetes Configuration
                      %li Runbooks
                      %li Infastructure as Code
                      %li Cluster Cost Optimization
                      %li The Monitor Stage
                      %li Metrics
                      %li Tracking
                      %li Incident Management
                      %li Logging
                      %li Cluster Monitoring
                      %li <strong>Hands on Lab</strong>: Monitoring Lab
                %tr
                  %td 12:00 - 4:30p
                  %td Protect
                  %td 
                    %ul
                      %li Protect Your Apps
                      %li What is WAF?
                      %li WAF Requirements
                      %li <strong>Hands on Lab</strong>: Protect Practice Lab 1
                      %li Review Time
                      %li Question and Answer Session
                      %li <strong>Hands On Lab</strong>: Final Hands on Labs
        <a href='https://drive.google.com/file/d/1IAMElA6kM2y_Q6-nKumBOpOQkVvcx3mr/view?usp=sharing'> Download the syllabus</a>    
        = partial "includes/services/requirements", locals: { id: "training_sessions_devops" }
        = partial "includes/services/pricing", locals: { id: "training_sessions_devops" }

        

